<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Apple News", home_path, class: "navbar-brand page-scroll" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                       <%= link_to 'Services', posts_services_path %>
                    </li>
                    <li>
                       <%= link_to 'Products', posts_portfolio_path %>
                    </li>
                    <li>
                        <%= link_to 'About', posts_about_path %>
                    </li>
                    <li>
                        <%= link_to 'Leaders', posts_team_path %>
                    </li>

                </ul>
                <%= form_tag(posts_search_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>

                    <div class="form-group">
                    <%= text_field_tag :search, params[:search], class: "form-control" %>
                    </div>
                    <%= submit_tag "Search", class: "btn btn-default" %>  
                <% end %>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    